@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800,900');

body {
    font-family: $font-family;
    
}


ol, ul {
	list-style: none;
}

.radius_all_10{
    border-radius: 10px;
}

