#category {
    padding: 100px 0px;
  
    .owl-carousel {
      a {
        text-decoration: none;
        color: $helper-color2;
  
        .item {
          text-align: center;
          height: 120px;
          padding: 25px 20px;
          margin: 0 7px;
          border-radius: 10px;
  
          i {
            font-size: 30px;
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
          }
  
          &.business {
            background-color: rgb(135, 238, 135);
          }
          &.development {
            background-color: rgb(240, 161, 15);
          }
          &.health {
            background-color: $google-hover;
          }
          &.language {
            background-color: $alert-color;
          }
          &.academics {
            background-color: $facebook-color;
          }
          &.photography {
            background-color: #df3584;
          }
        }
      }
  
      .owl-prev,
      .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: black;
        background-color: black;
        box-shadow: 0 0 5px rgba(128, 128, 128, 0.747);
        width: 30px;
        height: 30px;
        display: none;
      }
  
      .owl-prev {
        left: -25px;
      }
  
      .owl-next {
        right: -25px;
      }
    }
  }