#parallax {
  width: 100%;
  background-image: url(../img/counter_bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 100px 350px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 41, 77, 0.7);
  }
  .counter_content {
    color: $helper-color2;
  }
}
#parallax-aboutus {
  width: 100%;
  background-color: rgba(225, 237, 238, 0.678);
  background-position: center;
  background-size: cover;
  padding: 100px 0px;
  position: relative;

  .counter_content {
    color: $dark-color;
  }
}
