//Font of the Page
$font-family: 'Roboto',
sans-serif;


// Colours
$dark-color: black;
$alert-color: #f5576c;
$background-color:#343a40;
$helper-color1:#FFBC09;
$helper-color2: #fff;
$button-bg-color:#d39e00;
$shadow-color:#908f8f;
$facebook-color: #3b5998;
$facebook-hover:#344e86;
$google-color:#d85040;
$google-hover:#d33d2b;